chembl_37/
chembl_37_sqlite.tar.gz
chembl_uniprot_mapping.txt

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/
.hypothesis/

# Virtual environments
.venv
venv/
ENV/
env/

# IDE & Editor
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Outputs
*.csv
*.pkl
*.yaml
